acrylic:
  basePrice: 110
  frequency: 10
cotton:
  basePrice: 150
  frequency: 10
wool:
  basePrice: 355
  frequency: 10
bamboo:
  basePrice: 550
  frequency: 3
silk:
  basePrice: 1090
  frequency: 3
