*
  box-sizing: border-box

html
  height: 100%

body
  margin: 0
  background-image: url(https://s3.amazonaws.com/addressable/gobo/gobo2.jpg)
  height: 100%

h2
  margin-bottom: 0

h3
  margin: 0

.stats
  position: absolute
  top: 1em
  font-size: 24px
  text-align: center
  width: 100%
  background-color: hsla(0, 100%, 100%, 0.75)

.fiber, .demand, .item
  background-color: white
  border: 1px solid black
  display: inline-block
  width: 80px
  height: 100px
  padding: 4px
  position: relative

  .purchase
    position: absolute
    bottom: 4px
    right: 4px

.demand, .fiber
  width: 120px

.item
  height: 60px

.cyborgs
  vertical-align: top

.cyborgs > button
  height: 100px

.cyborg
  background-color: white
  display: inline-block
  padding: 4px
  width: 200px
  border: 1px solid black

  progress
    width: 100%

.game
  background-color: rgba(255, 255, 255, 0.5)
  padding: 2em
  position: relative
  height: 100%
  overflow: hidden

#player
  width: 100%
  height: 100%
  position: absolute
  top: 0
  bottom: 0
  right: 0
  left: 0
  display: none

#overlay
  width: 100%
  height: 100%
  position: absolute
  top: 0
  bottom: 0
  right: 0
  left: 0
  color: red
  font-size: 24px
  text-align: center
  display: none

  button
    position: absolute
    bottom: 8px
    right: 8px
    color: black
    font-size: 24px
