*
  box-sizing: border-box

html
  height: 100%

body
  margin: 0
  background-image: url(https://s3.amazonaws.com/addressable/gobo/gobo2.jpg)
  height: 100%

.fiber
  background-color: white
  border: 1px solid black
  display: inline-block
  width: 80px
  height: 100px
  padding: 4px
  position: relative

  .purchase
    position: absolute
    bottom: 4px
    right: 4px

.cyborg
  background-color: white
  display: inline-block
  padding: 4px
  width: 200px
  height: 100px
  border: 1px solid black

  progress
    width: 100%
